@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

    //@foreach(var item in Model.env)
    //{
    //    <h1>@item</h1>
    //}

    //@foreach (var item in Model.args)
    //{
    //    <h1>@item</h1>
    //}
}

<div class="text-center"  style="background-color:@Model.color" >
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
